<article class="part">
  <div class="title">
    <a>{{title}}</a>
  </div>
  <div class="meta">
    Number in stock:
    {{stock}}
    |
    <a href="/part/{{id}}">{{part.stock}}
      {{format_plural "Edit Part" part.id}}</a>
  </div>
</article>